<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyProject"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".PatientLoginActivity"
            android:exported="true"
            android:theme="@style/Theme.MyProject">
        </activity>
        <activity
            android:name=".PatientRegistrationActivity"
            android:exported="true"
            android:theme="@style/Theme.MyProject">
        </activity>
        <activity
            android:name=".PatientDashboardActivity"
            android:exported="true"
            android:theme="@style/Theme.MyProject">
        </activity>
        <activity
            android:name=".DoctorAppointmentActivity"
            android:exported="true"
            android:theme="@style/Theme.MyProject">
        </activity>
        <activity
            android:name=".PregnancyDueDate"
            android:exported="true"
            android:theme="@style/Theme.MyProject">
        </activity>
        <activity
            android:name=".ClinicianRegistrationActivity"
            android:exported="true"
            android:theme="@style/Theme.MyProject">
        </activity>
        <activity
            android:name=".ClinicianLoginActivity"
            android:exported="true"
            android:theme="@style/Theme.MyProject">
        </activity>
        <activity
            android:name=".PatientAppointmentActivity"
            android:exported="true"
            android:theme="@style/Theme.MyProject">
        </activity>
        <activity
            android:name=".PaymentActivity"
            android:exported="true"
            android:theme="@style/Theme.MyProject">
        </activity>
        <activity
            android:name=".ExplanationActivity"
            android:exported="true"
            android:theme="@style/Theme.MyProject">
        </activity>
        <activity
            android:name=".MainPage"
            android:exported="true"
            android:theme="@style/Theme.MyProject">
        </activity>
        <activity
            android:name=".DosandDonts"
            android:exported="true"
            android:theme="@style/Theme.MyProject">
        </activity>
        <activity
            android:name=".PregnancyTrackerActivity"
            android:exported="true"
            android:theme="@style/Theme.MyProject">
        </activity>
        <activity
            android:name=".PregnancyActivity"
            android:exported="true"
            android:theme="@style/Theme.MyProject">
        </activity>
        <activity
            android:name=".PregnancyHomeActivity"
            android:exported="true"
            android:theme="@style/Theme.MyProject">
        </activity>
        <activity
            android:name=".Pregnancy.FirstTrimister"
            android:exported="true"
            android:theme="@style/Theme.MyProject">
        </activity>
        <activity
            android:name=".Pregnancy.Misscarriage"
            android:exported="true"
            android:theme="@style/Theme.MyProject">
        </activity>
        <activity
            android:name=".Pregnancy.SecondTrimister"
            android:exported="true"
            android:theme="@style/Theme.MyProject">
        </activity>
        <activity
            android:name=".Pregnancy.ThirdTrimister"
            android:exported="true"
            android:theme="@style/Theme.MyProject">
        </activity>
        <activity
            android:name=".Pregnancy.Week_five_Pregnancy"
            android:exported="true"
            android:theme="@style/Theme.MyProject">
        </activity>
        <activity
            android:name=".Pregnancy.Week_by_Week_Pregnancy"
            android:exported="true"
            android:theme="@style/Theme.MyProject">
        </activity>
        <activity
            android:name=".Pregnancy.Week_nine_Pregnancy"
            android:exported="true"
            android:theme="@style/Theme.MyProject">
        </activity>
        <activity
            android:name=".Pregnancy.Week_seventeen_Pregnancy"
            android:exported="true"
            android:theme="@style/Theme.MyProject">
        </activity>
        <activity
            android:name=".Pregnancy.Week_thirteen_Pregnancy"
            android:exported="true"
            android:theme="@style/Theme.MyProject">
        </activity>
        <activity
            android:name=".Pregnancy.Week_thirtyone_Pregnancy"
            android:exported="true"
            android:theme="@style/Theme.MyProject">
        </activity>
        <activity
            android:name=".Pregnancy.Week_thirtysix_Pregnancy"
            android:exported="true"
            android:theme="@style/Theme.MyProject">
        </activity>
        <activity
            android:name=".Pregnancy.Week_twentyone_Pregnancy"
            android:exported="true"
            android:theme="@style/Theme.MyProject">
        </activity>
        <activity
            android:name=".Pregnancy.Week_twentysix_Pregnancy"
            android:exported="true"
            android:theme="@style/Theme.MyProject">
        </activity>
        <activity
            android:name=".Chat.ChatActivity"
            android:exported="true"
            android:theme="@style/Theme.MyProject">

        </activity>
        <activity
            android:name=".Chat.ClinicianChatActivity"
            android:exported="true"
            android:theme="@style/Theme.MyProject">

        </activity>
        <activity
            android:name=".Chat.Message"
            android:exported="true"
            android:theme="@style/Theme.MyProject">
        </activity>
        <activity
            android:name=".Chat.MessageAdapter"
            android:exported="true"
            android:theme="@style/Theme.MyProject">
        </activity>
        <activity
            android:name=".ClinicianDashboardActivity"
            android:exported="true"
            android:theme="@style/Theme.MyProject">
        </activity>
        <activity
            android:name=".ModelActivity"
            android:exported="true"
            android:theme="@style/Theme.MyProject">

        </activity>
        <activity
            android:name=".ViewAppointmentActivity"
            android:exported="true"
            android:theme="@style/Theme.MyProject">
        </activity>


    </application>

</manifest>